# --------------------
# 1. التبعيات (Dependencies)
# --------------------
/node_modules
/jspm_packages/
/pnpm-lock.yaml

# --------------------
# 2. البيانات الحساسة ومتغيرات البيئة
# --------------------
.env
*.env.local

# --------------------
# 3. ملفات الـ Logs والـ History
# --------------------
npm-debug.log*
yarn-error.log
.eslintcache
.npm

# --------------------
# 4. ملفات الـ Build والـ Output
# --------------------
/dist
/build
/out
/tmp
/coverage

# --------------------
# 5. ملفات نظام التشغيل والمحررات
# --------------------
.DS_Store
Thumbs.db
.vscode/
.idea/
*~